* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.5rem;
}
.nav__logo {
  display: block;
  width: 4rem;
}
.nav__icon {
  font-size: 2.5rem;
  color: #814abb;
}
.nav__links {
  display: none;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section__title {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #f2a8e1;
  background: -webkit-gradient(linear, left top, right top, from(#f2a8e1), color-stop(55%, #c2b5d2), to(#8fc6fd));
  background: linear-gradient(90deg, #f2a8e1 0%, #c2b5d2 55%, #8fc6fd 100%);
  padding: 1rem 0.5rem;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}
.header__autotype {
  font-size: 3rem;
  height: 4rem;
  padding: 1rem;
}
.header__title {
  font-size: 2rem;
  padding: 1rem;
}
.header__photoContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__photo {
  border: 3px solid #fff;
  border-radius: 50%;
  width: 10rem;
}

.about {
  color: #814abb;
}
.about__title {
  font-size: 2rem;
  padding: 1rem;
}
.about__text {
  font-size: 1.3rem;
  padding: 1rem;
}
.about__links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.about__link {
  font-size: 3rem;
  cursor: pointer;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f2a8e1;
  background: -webkit-gradient(linear, left top, right top, from(#f2a8e1), color-stop(55%, #c2b5d2), to(#8fc6fd));
  background: linear-gradient(90deg, #f2a8e1 0%, #c2b5d2 55%, #8fc6fd 100%);
  color: #fff;
}
.offer__item {
  max-width: 80%;
  padding: 1rem;
}
.offer__item:not(:last-child) {
  border-bottom: 2px solid #fff;
}
.offer__title {
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.8rem;
}
.offer__photo {
  max-width: 100%;
  border-radius: 10%;
}

.gallery {
  padding: 1rem 1rem 0 1rem;
  background: #f2a8e1;
  background: -webkit-gradient(linear, left top, right top, from(#f2a8e1), color-stop(55%, #c2b5d2), to(#8fc6fd));
  background: linear-gradient(90deg, #f2a8e1 0%, #c2b5d2 55%, #8fc6fd 100%);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery__box {
  width: 100%;
}
.gallery__item {
  width: 100%;
  border-radius: 5%;
}
.gallery__arrow {
  position: relative;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  top: 50%;
}
.gallery__arrow--left {
  margin-left: 1rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.gallery__arrow--right {
  margin-right: 1rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.gallery__dots {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
}
.gallery__dot {
  margin: 0 1rem;
  border-radius: 100%;
  padding: 8px;
  background-color: #fff;
}
.gallery__dot--active {
  background-color: #814abb;
}

.price {
  padding: 1rem;
}/*# sourceMappingURL=style.css.map */