$primary-color: #f2a8e1;
$secondary-color: #814abb;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;

    &__logo {
        display: block;
        width: 4rem;
    }

    &__icon {
        font-size: 2.5rem;
        color: $secondary-color;
    }

    &__links {
        display: none;
    }
}

.section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    &__title {
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        font-size: 3rem;
    }
}

.header {
    display: flex;
    flex-wrap: wrap;
    background-color: $primary-color;
    padding: 1rem 0.5rem;
    width: 100%;
    flex-direction: column;
    color: #ffffff;


    &__autotype {
        font-size: 3rem;
        height: 4rem;
        padding: 1rem;
    }

    &__title {
        font-size: 2rem;
        padding: 1rem;
    }

    &__photoContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__photo {
        border: 3px solid #fff;
        border-radius: 50%;
        width: 10rem;
    }
}

.about {
    color: $secondary-color;

    &__title {
        font-size: 2rem;
        padding: 1rem;
    }

    &__text {
        font-size: 1.3rem;
        padding: 1rem;
    }

    &__links {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    &__link {
        font-size: 3rem;
        cursor: pointer;
    }
}

.offer {
    display: flex;
    justify-content: center;
    background-color: $primary-color;
    color: #fff;

    &__item {
        max-width: 80%;
        padding: 1rem;
    }

    &__title {
        text-transform: uppercase;
        text-align: center;
        padding: 0.5rem;
        font-size: 1.8rem;
    }

    &__photo {
        max-width: 100%;
        border-radius: 10%;
    }
}

.gallery {
    background-color: $primary-color;
    color: #fff;
}

.contact {}

hr {
    width: 100%;
    border-top: 1px solid #fff;
}