$primary-color: #f2a8e1;
$secondary-color: #814abb;
$secondary-gradient-color: #8fc6fd;
$accent-color: #c2b5d2;

$gradient: linear-gradient(90deg, $primary-color 0%, $accent-color 55%, $secondary-gradient-color 100%);



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;

    &__logo {
        display: block;
        width: 4rem;
    }

    &__icon {
        font-size: 2.5rem;
        color: $secondary-color;
    }

    &__links {
        display: none;
    }
}

.section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    &__title {
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        font-size: 3rem;
    }
}

.header {
    display: flex;
    flex-wrap: wrap;
    background: $primary-color;
    background: $gradient;
    padding: 1rem 0.5rem;
    width: 100%;
    flex-direction: column;
    color: #ffffff;


    &__autotype {
        font-size: 3rem;
        height: 4rem;
        padding: 1rem;
    }

    &__title {
        font-size: 2rem;
        padding: 1rem;
    }

    &__photoContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__photo {
        border: 3px solid #fff;
        border-radius: 50%;
        width: 10rem;
    }
}

.about {
    color: $secondary-color;

    &__title {
        font-size: 2rem;
        padding: 1rem;
    }

    &__text {
        font-size: 1.3rem;
        padding: 1rem;
    }

    &__links {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    &__link {
        font-size: 3rem;
        cursor: pointer;
    }
}

.offer {
    display: flex;
    width: 100%;
    justify-content: center;

    &__scroll {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-padding: 24px;
        gap: 1rem;
    }

    background: $primary-color;
    background: $gradient;

    color: #fff;

    &__item {
        flex: 0 0 100%;
        scroll-snap-align: center;
        padding: 0 2rem;
    }

    &__title {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.8rem;
    }

    &__photo {
        max-width: 100%;
        border-radius: 10%;
    }
}

.gallery {
    padding: 1rem 1rem 0 1rem;
    background: $primary-color;
    background: $gradient;
    color: #fff;
    display: flex;
    justify-content: space-between;

    &__box {
        width: 100%;
    }

    &__item {
        width: 100%;
        border-radius: 5%;
    }

    &__arrow {
        position: relative;
        border: solid #fff;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 10px;
        top: 45%;


        &--left {
            margin-left: 1rem;
            transform: rotate(135deg);
        }

        &--right {
            margin-right: 1rem;
            transform: rotate(-45deg);
        }
    }

    &__dots {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1rem 0;

    }

    &__dot {
        margin: 0 1rem;
        border-radius: 100%;
        padding: 8px;
        background-color: #fff;

        &--active {
            background-color: #814abb;
        }
    }
}

.price {
    padding: 1rem;
}

.contact {}